// start contact
.contact-page {
  @media screen and (max-width: 768px) {
    padding: 7rem 0;
  }
  h1 {
    position: relative;
    overflow: hidden;
    width: fit-content;
    font-size: 3rem;
    color: var(--light);
    @media screen and (max-width: 768px) {
      margin-left: 1rem;
    }
    &::after {
      content: "";
      background: rgba(#fceb13, 0.25);
      position: absolute;
      left: 17px;
      bottom: -17px;
      width: calc(100% - 8px);
      height: calc(100% - 8px);
      z-index: -1;
      transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
    }
    &:hover:after {
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 100%;
    }
  }
  .icons-box {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    position: relative;
    @media screen and (max-width: 768px) {
      margin-left: 1rem;
    }
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 5px;
      background-color: var(--main-color);
      @media screen and (max-width: 768px) {
        width: 110%;
      }
    }
    ul {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      padding: 0;
      li {
        position: relative;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: var(--light);
        a {
          position: relative;
          z-index: 1;
          svg {
            color: var(--dark);
            font-size: 2rem;
            transition: 0.3s ease-in-out;
          }
        }
      }
      .facebook-box:hover svg {
        color: #4267B2;
      }
      .instgram-box:hover svg {
        color: #fb3958;
      }
      .linkedin-box:hover svg {
        color: #0072b1;
      }
      .gmail-box:hover svg {
        color: #EA4335;
      }
      .whatsapp-box:hover svg {
        color: #34B7F1;
      }
      .phone-box:hover svg {
        color: #34A853;
      }
    }
  }
  .locations {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 4rem;
    @media screen and (max-width: 768px) {
      padding: 1rem;
    }
    p {
      font-size: 1.3rem;
    }
  }
}
// end contact